@import 'reset.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: #f5f5fa;
  color: #010101;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 46px;
  line-height: 52px;
  font-weight: bold;
}
h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
}
p {
  margin: 0;
}
.t-0 {
  font-size: 18px;
  line-height: 30px;
}
.t-2 {
  font-size: 15px;
}
.t-1 {
  font-size: 14px;
}

.bg-white {
  background-color: #ffffff;
}

.btn {
  padding: 0px 10px;
  background-color: #d10f8d;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
}

.social {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
}
.social_in {
  background-image: url('/assets/images/inst.png');
}
.social_od {
  background-image: url('/assets/images/od.png');
}
.social_yt {
  background-image: url('/assets/images/yt.png');
}
.social_vk {
  background-image: url('/assets/images/vk.png');
}
.social_fb {
  background-image: url('/assets/images/fb.png');
}

@import 'margins.scss';
@import 'paddings.scss';
@import 'media.scss';
@import 'form.scss';