.navigation {
  display: flex;
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  input[type="checkbox"] {
    opacity: 0;
    &:checked ~ .navigation__mobile .icon > span {
      transform: rotate(45deg);
    }
    &:checked ~ .navigation__mobile .icon > span:before {
      top: 0;
      transform: rotate(0);
    }
    &:checked ~ .navigation__mobile .icon > span:after {
      top: 0;
      transform: rotate(90deg);
    }
    &:checked ~ .navigation__menu {
      visibility: visible;
    }
  }
  @media screen and (max-width: 500px) {
    margin-top: 20px;
  }
}

.navigation__item {
  position: relative;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  padding: 34px 0px 30px 0;
  letter-spacing: 1px;
  transition: border-color 0.25s ease-out;
  &:not(:last-child){
    margin-right: 47px;
  }
  &:visited {
    color: #000000;
  }
  &:hover {
    border-color: #ec0287;
  }
  @media screen and (max-width: 1100px) {
    &:not(:last-child){
      margin-right: 17px;
    }
  }
  @media screen and (max-width: 960px) {
    padding: 0;
    &:not(:first-child){
      padding-top: 20px;
    }
    &:not(:last-child){
      margin-right: 0;
    }
  }
}
.navigation__item_icon {
  padding-left: 47px;
  &:before {
    position: absolute;
    left: 0;
    content: url('/assets/images/menu.png');
  }
  @media screen and (max-width: 960px) {
    padding-left: 30px;
  }
}

.navigation__mobile {
  display: none;
  padding-left: 40px;
  align-items: center;
  .icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    & > span {
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: #000000;
      margin-left: -40px;
      transition-duration: .25s;

      &:after, &:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transition-duration: .25s;
      }

      &:before {
        content: '';
        top: -6px;
      }

      &:after {
        content: '';
        top: 6px;
      }
    }
    
  }
  @media screen and (max-width: 960px) {
    display: flex;
  }
}
.navigation__menu {
  display: flex;
  overflow: hidden;
  @media screen and (max-width: 960px) {
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    align-items: center;
    top: 52px;
    background: #f5f5fa;
    flex-direction: column;
    padding: 30px 20px;
    z-index: 1;
  }
  @media screen and (max-width: 500px) {
    top: 177px;
  }
}