.container {
  display: flex;
  justify-content: space-between;
  
  .col {
    flex-basis: 49%;
  }
  
  @media screen and (max-width: 768px) {
    flex-direction: column;
    .col {
      flex-basis: auto;
    }
  }
}