.heading {
  padding-top: 43px;
  padding-bottom: 65px;
  h1 {
    margin-top: 42px;
    margin-bottom: 0;
    letter-spacing: 1px;
    color: #fff;
    span {
      color: #d10f8d;
    }
  }
  .features {
    margin-top: 87px;
    padding-left: 3px;
    color: #fff;
  }
}