.learn-more {
  a {
    display: inline-block;
    padding: 8px 49px 10px 39px;
    text-decoration: none;
    border: 2px solid #d10f8d;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
  }
}